aiohttp
beautifulsoup4
git+git://github.com/google/chatbase-python.git
hachoir
numpy
Pillow
https://github.com/pyrogram/pyrogram/archive/asyncio-dev.zip
requests
tgcrypto
sqlalchemy
psycopg2-binary
feedparser
