aiohttp
beautifulsoup4
hachoir
git+git://github.com/google/chatbase-python.git
numpy
Pillow
https://github.com/prgofficial/pyrogram/archive/asyncio-dev.zip 
requests
tgcrypto
sqlalchemy
psycopg2-binary
feedparser
