aiohttp
git+git://github.com/google/chatbase-python.git
beautifulsoup4
hachoir
numpy
Pillow
ffmpeg-python
ffmpeg
sqlalchemy
pyrogram==1.0.7
requests
telegram
psycopg2-binary
feedparser
tgcrypto
youtube-dl
